.vimrc
================================================
alias l='ls -lhF'
alias ll='ls -lahF'

alias gitc='git pull --rebase; git status'
alias git_ul='git ls-files -v | grep "^[hsmrck] "'
alias gopath='export GOPATH=$(pwd)'

export PATH="$PATH:$HOME/bin"

export PS1="\[\e[1;32m\]\u@\h:\w$ \[\e[m\]"
export HISTTIMEFORMAT="%F %T `whoami` "


/etc/vimrc
==================================================
set expandtab tabstop=4 shiftwidth=4
filetype indent on

nmap <C-j> <C-e>
nmap <C-k> <C-y>

highlight DiffAdd    cterm=bold  ctermbg=yellow
highlight DiffDelete cterm=bold  ctermbg=cyan
highlight DiffChange cterm=bold  ctermbg=green
highlight DiffText   cterm=bold  ctermbg=red


.gdbinit
==================================================
set prompt \033[32m(GDB) \033[0m

.gitconfig
===================================================
[user]
        name = zcg
        email = zcg@qq.com
[push]
        default = simple
[diff]
        tool=vimdiff
[color]
        ui = auto






其它文件：
mycat.sh
echo `ls -d $*` | xargs -n 1 cat -n


# centos 7 特别PS1
export PS1="\[\033[0;35m\][\[\033[0m\]\[\033[0;32m\]\u\[\033[0m\]\[\033[0;36m\]@\[\033[0m\]\[\033[0;32m\]\h\[\033[0m\]\[\033[0;35m\]:\[\033[0m\]\[\033[0;33m\]\w\[\033[0m\]\[\033[0;35m\]]\[\033[0m\]\[\033[0;36m\]$ \[\033[0m\]"
说明：
[u@h:w]$
31  红
32  绿
33  黄
34  蓝
35  紫红
36  淡蓝   


在这里使用，不需要          \[  \]
echo -e "\033[0;36mhello,world\033[0m"
echo -e "\e[0;36mhello,world\e[0m"


ON DEBIAN
.bashrc
# PS1='\033[01;31m\u@\033[00;33m\h\033[00m:\033[01;34m\w\033[00m$ '
export PS1="\[\033[0;35m\][\[\033[0m\]\[\033[0;33m\]\u\[\033[0m\]\[\033[0;36m\]@\[\033[0m\]\[\033[0;33m\]\h\[\033[0m\]\[\033[0;36m\]:\[\033[0m\]\[\033[0;33m\]\w\[\033[0m\]\[\033[0;35m\]]\[\033[0m\]\[\033[0;36m\]$ \[\033[0m\]"


解决ssh登录linux速度慢的问题(以centos7为例)
解决步骤:
先备份/etc/ssh/sshd_config,备份命令为
cp /etc/ssh/sshd_config /etc/ssh/sshd_config.bak
1.su                                    (以root用户登录)
2.vi /etc/ssh/sshd_config      (编辑配置文件)
3.输入 / ,查找GSSAPIAuthentication 赋值为no
4.输入 /，查找UseDNS,赋值为 no(该项默认不启用的，要把前面的#删除掉)    这个地方按需要改：GSSAPIDelegateCredentials no
5.最后输入!wq保存文件并退出
6.重启systemctl restart sshd


时区同步：
tzselect  交互式选择
cp /usr/share/zoneinfo/Asia/Shanghai  /etc/localtime




---------- config linux server ------------

vim /etc/sysctl.conf
kernel.core_pattern=core-%e-%p-%s
sysctl -p

vim /etc/security/limits.conf
*                soft    core            unlimited
*                hard    nofile          100000
*                soft    nofile          100000

command:
    ulimit -Sc unlimited
    ulimit -Sn unlimited



deploy on linux:
sudo apt install -y gcc g++ gdb vim cmake unzip tmux
sudo apt install lua5.3 liblua5.3-dev libmariadb-dev

sudo apt install -y python-pip
sudo pip install shadowsocks



// ecl build on debian 9
sudo apt install libncurses
sudo apt install libncurses5-dev  libsqlite3-dev


ss.josn
{
    "server":"0.0.0.0",
    "server_port":58388,
    "local_port":1080,
    "password":"barfoo!",
    "timeout":600,
    "method":"rc4-md5"
}
