 把下面这几行写在.bashrc文件中，都是我常用的



alias l='ls -alhF'
alias la='ls -A'
alias ll='ls -lhF'
alias ls='ls --color=auto'
alias grep='grep --color=auto'


mkdir $HOME/bin
export PATH="$PATH:$HOME/bin"


on ubuntu
export PS1="\[\e]0;\u@\h: \w\a\]${debian_chroot:+($debian_chroot)}\[\033[01;32m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$ "


mycat.sh
echo `ls -d $*` | xargs -n 1 cat -n




# centos 7
export PS1="\[\033[0;35m\][\[\033[0m\]\[\033[0;32m\]\u\[\033[0m\]\[\033[0;36m\]@\[\033[0m\]\[\033[0;32m\]\h\[\033[0m\]\[\033[0;35m\]:\[\033[0m\]\[\033[0;33m\]\w\[\033[0m\]\[\033[0;35m\]]\[\033[0m\]\[\033[0;36m\]$ \[\033[0m\]"

[u@h:w]$

31  红
32  绿
33  黄
34  蓝
35  紫红
36  淡蓝   

在这里使用，不需要          \[  \]
echo -e "\033[0;36mhello,world\033[0m"
echo -e "\e[0;36mhello,world\e[0m"


ON DEBIAN
.bashrc
# PS1='\033[01;31m\u@\033[00;33m\h\033[00m:\033[01;34m\w\033[00m$ '
export PS1="\[\033[0;35m\][\[\033[0m\]\[\033[0;33m\]\u\[\033[0m\]\[\033[0;36m\]@\[\033[0m\]\[\033[0;33m\]\h\[\033[0m\]\[\033[0;36m\]:\[\033[0m\]\[\033[0;33m\]\w\[\033[0m\]\[\033[0;35m\]]\[\033[0m\]\[\033[0;36m\]$ \[\033[0m\]"



解决ssh登录linux速度慢的问题(以centos7为例)
解决步骤:
先备份/etc/ssh/sshd_config,备份命令为
cp /etc/ssh/sshd_config /etc/ssh/sshd_config.bak
1.su                                    (以root用户登录)
2.vi /etc/ssh/sshd_config      (编辑配置文件)
3.输入 / ,查找GSSAPIAuthentication 赋值为no
4.输入 /，查找UseDNS,赋值为 no(该项默认不启用的，要把前面的#删除掉)
5.最后输入!wq保存文件并退出
6.重启systemctl restart sshd



---------- config linux server ------------

vim /etc/sysctl.conf
kernel.core_pattern=core-%e-%p-%s
sysctl -p

vim /etc/security/limits.conf
*                soft    core            unlimited
*                hard    nofile          100000
*                soft    nofile          100000

command:
    ulimit -Sc unlimited
    ulimit -Sn unlimited



deploy on linux:
sudo apt install -y gcc g++ gdb vim cmake unzip tmux
sudo apt install lua5.3 liblua5.3-dev libmariadb-dev

sudo apt install -y python-pip
sudo pip install shadowsocks



// ecl build on debian 9
sudo apt install libncurses
sudo apt install libncurses5-dev  libsqlite3-dev